# Gunakan subdomain khusus agar route root project tetap bersih.
# Contoh:
# HOST=https://shopify-gateway.domainanda.com

PORT=3000
HOST=https://shopify-gateway.domainanda.com
NODE_ENV=production

# Gunakan mysql untuk production cPanel
STORAGE_DRIVER=mysql

# cPanel biasanya memakai host lokal seperti localhost.
# Nama database dan username sering otomatis diprefix username cPanel.
# Contoh:
# MYSQL_DATABASE=cpuser_shopifygw
# MYSQL_USER=cpuser_shopifyu
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=cpaneluser_shopify_gateway
MYSQL_USER=cpaneluser_shopify_user
MYSQL_PASSWORD=replace_with_real_password
MYSQL_CONNECTION_LIMIT=10
MYSQL_CONNECT_TIMEOUT_MS=5000

SHOPIFY_API_KEY=replace_with_partner_dashboard_api_key
SHOPIFY_API_SECRET=replace_with_partner_dashboard_api_secret
APP_SHARED_SECRET=replace_with_random_secret
SHOPIFY_SCOPES=read_orders,write_payment_sessions,write_orders,read_products,write_products,read_inventory,write_inventory
SHOPIFY_REDIRECT_PATH=/auth/callback
SHOPIFY_APP_UI_PATH=/app
SHOPIFY_PAYMENTS_API_VERSION=2025-01
